#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
lista_temp=(-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02)
temperatura=pd.Series(lista_temp)
temperatura

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [11]:

# seu código aqui
lista_anos=(1900, 1920, 1940, 1960, 1980, 2000, 2020)
lista_temp=(-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02)
temperatura_ano=pd.Series(lista_temp,lista_anos)
temperatura_ano

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [12]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

temperaturas=pd.Series(dic_temperaturas)
temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [9]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df_array=pd.DataFrame(arr)
df_array

             0           1           2
0    83.411868   78.766951  103.807378
1    94.126814   99.555166  103.992759
2    76.971216  111.211325  108.634575
3   106.072288  107.048768   88.482559
4    90.770817  107.305896   88.170608
5    93.117895  108.228730   90.134998
6    95.779154  105.449961   97.281884
7    96.935968   95.959484  102.716684
8    91.583040   94.511143   94.830137
9   105.280076   90.226470  101.929480
10  107.360834  101.328498   95.591615
11   92.867762  105.429180  104.409635
12  103.168900  107.248056   98.750127
13   95.481160   92.458372  100.334551
14  107.845386  110.366499  100.717684
15   86.123145  100.083630   99.751119
16  115.635613   96.377768  107.140233
17   86.810794  114.660912  103.115077
18   94.806546  103.831564  122.991859
19   95.406646  106.263576  110.913849

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [34]:
#seu código aqui
indice=range(1,21)
colunas=("x1","x2","x3")
df_array=pd.DataFrame(arr,indice,colunas)
df_array

            x1          x2          x3
1    83.411868   78.766951  103.807378
2    94.126814   99.555166  103.992759
3    76.971216  111.211325  108.634575
4   106.072288  107.048768   88.482559
5    90.770817  107.305896   88.170608
6    93.117895  108.228730   90.134998
7    95.779154  105.449961   97.281884
8    96.935968   95.959484  102.716684
9    91.583040   94.511143   94.830137
10  105.280076   90.226470  101.929480
11  107.360834  101.328498   95.591615
12   92.867762  105.429180  104.409635
13  103.168900  107.248056   98.750127
14   95.481160   92.458372  100.334551
15  107.845386  110.366499  100.717684
16   86.123145  100.083630   99.751119
17  115.635613   96.377768  107.140233
18   86.810794  114.660912  103.115077
19   94.806546  103.831564  122.991859
20   95.406646  106.263576  110.913849

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [46]:
# seu código aqui
df_array.insert(3,"media",(df_array.x1+df_array.x2+df_array.x3)/3)
df_array

            x1          x2          x3       media
1    83.411868   78.766951  103.807378   88.662066
2    94.126814   99.555166  103.992759   99.224913
3    76.971216  111.211325  108.634575   98.939039
4   106.072288  107.048768   88.482559  100.534538
5    90.770817  107.305896   88.170608   95.415774
6    93.117895  108.228730   90.134998   97.160541
7    95.779154  105.449961   97.281884   99.503666
8    96.935968   95.959484  102.716684   98.537379
9    91.583040   94.511143   94.830137   93.641440
10  105.280076   90.226470  101.929480   99.145342
11  107.360834  101.328498   95.591615  101.426982
12   92.867762  105.429180  104.409635  100.902192
13  103.168900  107.248056   98.750127  103.055694
14   95.481160   92.458372  100.334551   96.091361
15  107.845386  110.366499  100.717684  106.309857
16   86.123145  100.083630   99.751119   95.319298
17  115.635613   96.377768  107.140233  106.384538
18   86.810794  114.660912  103.115077  101.528928
19   94.806546  103.831564  122.991859  107.209990
20   95.406646  106.263576  110.913849  104.194690

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [51]:
# seu código aqui
logmed=np.log(df_array.media)
df_array.insert(4,"log_med",logmed)
df_array

            x1          x2          x3       media   log_med
1    83.411868   78.766951  103.807378   88.662066  4.484832
2    94.126814   99.555166  103.992759   99.224913  4.597389
3    76.971216  111.211325  108.634575   98.939039  4.594504
4   106.072288  107.048768   88.482559  100.534538  4.610501
5    90.770817  107.305896   88.170608   95.415774  4.558244
6    93.117895  108.228730   90.134998   97.160541  4.576365
7    95.779154  105.449961   97.281884   99.503666  4.600194
8    96.935968   95.959484  102.716684   98.537379  4.590436
9    91.583040   94.511143   94.830137   93.641440  4.539473
10  105.280076   90.226470  101.929480   99.145342  4.596587
11  107.360834  101.328498   95.591615  101.426982  4.619339
12   92.867762  105.429180  104.409635  100.902192  4.614152
13  103.168900  107.248056   98.750127  103.055694  4.635270
14   95.481160   92.458372  100.334551   96.091361  4.565299
15  107.845386  110.366499  100.717684  106.309857  4.666358
16   86.123145  100.083630   99.751119   95.319298  4.557232
17  115.635613   96.377768  107.140233  106.384538  4.667060
18   86.810794  114.660912  103.115077  101.528928  4.620344
19   94.806546  103.831564  122.991859  107.209990  4.674789
20   95.406646  106.263576  110.913849  104.194690  4.646261